<%= render 'shared/navbar' %>
<%= render 'shared/sidebar' %>

<div class="main-content">
  <div class="table_contents">
    <% if notice %>
      <div id="notice" class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <table class="table table-striped" id="table-striped">
      <thead>
        <tr>
          <th scope="col">Signed Up</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Take Off</th>
          <th scope="col">No of People</th>
        </tr>
      </thead>
      <tbody>
        <% @ride_offers.each do |ride_offer| %>
          <tr>
          <td><%= "#{ride_offer.interested_counts} / #{ride_offer.no_of_people}" %></td>
            <td>
              <a href="javascript:undefined" data-interestedcounts="<%= ride_offer.interested_counts %>" data-rideoffer="<%= ride_offer.to_json %>" class="show_interest_ride_offer">
                <%= ride_offer.origin %>
              </a>
            </td>
            <td><%= ride_offer.destination %></td>
            <td><%= ride_offer.take_off.to_s(:time) %></td>
            <td><%= ride_offer.no_of_people %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!--Show Interest in ride offer Modal -->
  <div class="modal fade" id="show-interest-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Show Interest in Ride Offer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to take this ride offer?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="show-interest">Show Interest</button>
          <button type="button" class="btn btn-info" id="withdraw-interest">Withdraw Interest</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Ride offer signup alert modal -->
  <div class="modal fade" id="rideOfferSignupAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Ride Offer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
